.videoCard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 50ms ease-out;
}

.videoCard:hover {
  transform: scale(1.05);
}

.videoCard > img {
  height: 300px;
  object-fit: contain;
  width: 500px;
}

.videoCard > h2 {
  padding-top: 10px;
}

.videoCard__stats {
  display: flex;
  justify-content: space-between;
}
.videoCard__stats > span {
  display: flex;
  align-items: center;
}

.videoCard__stats > span > span {
  padding-left: 5px;
}
